.title {
	color: white;
	text-transform: uppercase;
}

body {
	background-color: #7289da;
	margin: 0;
	gap: 0;
	color: #fff;
	text-align: center;
}

a {
	display: inline-block;
	color: white;
}

nav {
	text-align: center;
	background-color: #23272a;
	font-family: Georgia;
}

nav ul, main ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

nav a {
	padding: 1em;
	text-decoration: none;
}

nav a:hover, .active {
	background-color: #7289da;
	color: #23272a;
	cursor: pointer;
	border-top-left-radius: .6em;
	border-top-right-radius: .6em;
}

nav a:active {
	color: #fff;
}

h2 {
	font-family: sans-serif;
	text-transform: uppercase;
	margin-bottom: .2em;
}

main {
	display: inline-block;
	width: 21em;
	background-color: #23272a;
	border-radius: 1em;
	margin-top: 2.5em;
	margin-inline: auto;
	padding: 1em;
	font-family: 'Courier New';
	box-shadow: 0px 0px 27px black;
	margin-bottom: 6em;
}

button {
	width: 7em;
	background-color: #2c2f33;
	border: none;
	border-radius: 2em;
	padding: 1em;
	font-size: .8em;
	color: #fff;
	font-weight: bolder;
	margin-top: 1em;
}

button:hover {
	background-color: #7289da;
	color: #23272a;
	cursor: pointer;
	box-shadow: .3em .3em 45px black;
}

button:active {
	background-color: #2c2f33;
	color: #fff;
}

input[type=number] {
	display: block;
	font-family: 'Segoe UI';
	width: 90%;
	background-color: #2c2f33;
	color: #fff;
	border: none;
	padding: .5em;
	margin: .5em;
	outline: none;
	border-radius: .5em;
	text-align: center;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	-webkit-text-fill-color: #fff;
	-webkit-box-shadow: 0 0 0px 1000px #2c2f33 inset;
	transition: background-color 5000s ease-in-out 0s;
	caret-color: #fff;
}

#custom {
	display: flex;
	margin-block: .5em;
}

#custom input {
	margin: 0;
	border-radius: 0;
}

.spinner {
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	font-size: 1.2em;
}

#step_down_btn {
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}

#step_up_btn {
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
}

.spinner:active {
	background-color: #2c2f33;
}

.radio-buttons {
	margin-block: .5em;
}

.radio {
	opacity: 0;
	width: 0;
	display: none;
}

.radio+label {
	display: inline-block;
	background-color: #2c2f33;
	padding-block: 0;
	padding: .4em;
	margin-block: 0;
	width: 1.2em;
	border-radius: 1em;
	font-weight: bolder;
	font-size: 1.2em;
}

.radio:hover+label {
	background-color: #7289da;
	color: #23272a;
	box-shadow: none;
}

.radio:checked+label {
	background-color: #7289da;
	box-shadow: .3em .3em 45px black;
	color: #fff;
}

.msg {
	color: #99aab5;
	font-weight: bolder;
}

.err {
	color: #ed4245;
	font-weight: bolder;
	margin-top: 1em;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #23272a;
}

footer>* {
	margin-block: .6em;
	margin-inline: 1.6vw;
	font-size: 1.2em;
	font-family: monospace;
}